@{
    ViewBag.Title = "Thank you";
}

<div class="jumbotron" style="margin-top:5px;">
    <h1>Amazing Shopping Site</h1>
    <p class="lead">
        Thank you for your order <br /> <br />
        Your Order reference : @ViewBag.OrderId
    </p>
   
</div>